USE [master]
GO
/****** Object:  Database [UEMCoches]    Script Date: 04/01/2020 19:03:24 ******/
CREATE DATABASE [UEMCoches]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UEMCoches', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UEMCoches.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UEMCoches_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UEMCoches_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UEMCoches].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UEMCoches]
GO
/****** Object:  Table [dbo].[alquilan]    Script Date: 04/01/2020 19:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alquilan](
	[id_coche] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[f_alquiler] [date] NULL,
	[f_fin] [date] NULL,
 CONSTRAINT [PK_alquilan] PRIMARY KEY CLUSTERED 
(
	[id_coche] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coches]    Script Date: 04/01/2020 19:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coches](
	[modelo] [nvarchar](max) NULL,
	[ano] [smallint] NULL,
	[prestaciones] [nvarchar](max) NULL,
	[disponible] [bit] NULL,
	[color] [nvarchar](max) NULL,
	[puertas] [smallint] NULL,
	[combustible] [nvarchar](max) NULL,
	[valoracion] [smallint] NULL,
	[precio] [decimal](18, 0) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_coches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 04/01/2020 19:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[nombre] [nvarchar](max) NULL,
	[apellidos] [nvarchar](max) NULL,
	[edad] [smallint] NULL,
	[usuario] [nvarchar](max) NULL,
	[pass] [nvarchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](max) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[alquilan]  WITH CHECK ADD  CONSTRAINT [FK_alquilan_coches] FOREIGN KEY([id_coche])
REFERENCES [dbo].[coches] ([id])
GO
ALTER TABLE [dbo].[alquilan] CHECK CONSTRAINT [FK_alquilan_coches]
GO
ALTER TABLE [dbo].[alquilan]  WITH CHECK ADD  CONSTRAINT [FK_alquilan_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[alquilan] CHECK CONSTRAINT [FK_alquilan_usuarios]
GO
USE [master]
GO
